@model SupplementDetailsServiceModel

@{
    ViewData["Title"] = "Supplement Details";
}

<div class="row">
    <div class="col-12 text-center">
        <br />
        <h1>@Model.Name</h1>
        <h3>@Model.CategoryName (@Model.SubcategoryName)</h3>
        <br />
        <br />
        <div>
            <img id="supplement-image" src="@Model.Picture" alt="supplement-picture">
        </div>
        <br />
        <br />
        <div>
            <p><strong>Description:</strong> @Model.Description</p>
        </div>
        <div>
            <p><strong>Quantity:</strong> @Model.Quantity</p>
        </div>
        <div>
            <p><strong>Price:</strong> @Model.Price &euro;</p>
        </div>
        <div>
            <p><strong>Manufacturer:</strong> @Model.ManufacturerName</p>
        </div>
        <div>
            <p><strong>Best Before:</strong> @Model.BestBeforeDate.ToShortDateString()</p>
        </div>
        <div>
            @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
            {
                <a class="btn btn-default" asp-area="" asp-controller="Subcategories" asp-action="Index">Back To All Subcategories</a>
                <a asp-area="Manager" asp-controller="Supplements" asp-action="Edit" asp-route-categoryId="@Model.CategoryId" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
                if (Model.IsDeleted)
                {
                    <a asp-area="Manager" asp-controller="Supplements" asp-action="Restore" asp-route-id="@Model.Id" asp- asp-route-name="@Model.Name" class="btn btn-success">Restore</a>

                }
                else
                {
                    <a asp-area="Manager" asp-controller="Supplements" asp-action="Delete" asp-route-id="@Model.Id" asp-route-name="@Model.Name" class="btn btn-danger">Delete</a>
                }
            }
        </div>
        <br />
        <br />
    </div>
</div>