@model CategoryDetailsServiceModel

@{
    ViewData["Title"] = $"Category: {Model.Name}";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <br />

        <div>
            <h2>@ViewData["Title"]</h2>
            <h4>Subcategories: @Model.Subcategories.Count()</h4>
            <h4>Supplements: @Model.Supplements.Count()</h4>
        </div>

        <br />
        <br />

        <div class="text-center">
            @foreach (var subcategory in Model.Subcategories)
            {
                <a asp-area="" asp-controller="Subcategories" asp-action="Details" asp-route-id="@subcategory.Id" asp-route-name="@subcategory.Name" id="subcategory-links" class="btn btn-default">@subcategory.Name (@subcategory.Supplements)</a>
            }
        </div>
        <br />
        <br />

        @foreach (var supplement in Model.Supplements)
        {
            <div class="card col-md-4 text-center">
                <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name">
                    <img class="card-img-top" id="category-supplement-image" src="@supplement.Picture" alt="supplement-picture">
                </a>
                <div class="card-block">
                    <h4 class="card-title">@supplement.Name</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Manufacturer: @supplement.ManufacturerName</li>
                    <li class="list-group-item">Quantity: @supplement.Quantity</li>
                    <li class="list-group-item">Price: @supplement.Price $</li>
                </ul>
            </div>
        }
    </div>
</div>