@model CategoryDetailsServiceModel

@{
    ViewData["Title"] = $"Category: {Model.Name}";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <br />

        <div>
            <h2>@ViewData["Title"]</h2>
            <h4>Subcategories: @Model.Subcategories.Count()</h4>
            <h4>Supplements: @Model.Supplements.Count()</h4>
        </div>

        <br />
        <br />

        <div class="text-center">
            @foreach (var subcategory in Model.Subcategories)
            {
                <a asp-area="" asp-controller="Subcategories" asp-action="Details" asp-route-id="@subcategory.Id" asp-route-name="@subcategory.Name" id="subcategory-links" class="btn btn-default">@subcategory.Name (@subcategory.Supplements)</a>
            }
        </div>
        <br />
        <br />

        @foreach (var supplement in Model.Supplements)
        {
            <div class="card col-md-4 text-center">
                <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                    <img class="card-img-top" id="category-supplement-image" src="@supplement.Picture" alt="supplement-picture">
                </a>
                <div class="card-block">
                    <h4 class="card-title">@supplement.Name</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Manufacturer: @supplement.ManufacturerName</li>
                    <li class="list-group-item">Quantity: @supplement.Quantity</li>
                    <li class="list-group-item">Price: @supplement.Price $</li>
                    <li class="list-group-item">
                        <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" asp-route-returnUrl="@ViewData["ReturnUrl"]">Details</a>
                        <a class="btn btn-success btn-sm" asp-area="" asp-controller="Orders" asp-action="Add" asp-route-id="@supplement.Id">Buy</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
                        {
                            <a asp-area="Manager" asp-controller="Supplements" asp-action="Edit" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-warning btn-sm">Edit</a>
                            if (supplement.IsDeleted)
                            {
                                <a asp-area="Manager" asp-controller="Supplements" asp-action="Delete" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-success btn-sm">Restore</a>

                            }
                            else
                            {
                                @Html.ActionLink("Delete", "Delete", "Supplements", new { area = "Manager", id = supplement.Id, name = supplement.Name },
                                                                                                                             new
                                                                                                                             {
                                                                                                                                 @class = "btn btn-danger btn-sm",
                                                                                                                                 onclick = $"return confirm('Are you sure you want to delete *{supplement.Name}*?');"
                                                                                                                             })
                            }
                        }
                    </li>
                </ul>
            </div>
        }
    </div>
</div>