@model PagingElementsViewModel<CategoryAdvancedServiceModel>
@{
    ViewData["Title"] = "All Categories";
}

<h2>@ViewData["Title"]</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
{
    <div>
        <a asp-area="Manager" asp-controller="Categories" asp-action="Create" class="btn btn-default">Create Category</a>
    </div>
    <br />
}

<br />

<div class="row">
    <div class="col-md-4">
        <form>
            <label asp-for="SearchToken"></label>
            <div class="input-group">
                <input class="form-control" asp-for="@Model.SearchToken" />
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Search" />
                </span>
            </div>
        </form>
    </div>
</div>
<br />

@if (!Model.Elements.Any())
{
    <h2>No Categories Found.</h2>
}
else
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Subcategories</th>
                <th class="text-center">Supplements</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model.Elements)
                {
                <tr class="text-center">
                    <td>@category.Name</td>
                    <td>@category.Subcategories</td>
                    <td>@category.Supplements</td>
                    <td>
                        <a asp-area="" asp-controller="Categories" asp-action="Details" asp-route-id="@category.Id" asp-route-name="@category.Name" class="btn btn-primary">Details</a>
                        @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
                        {
                            <a asp-area="Manager" asp-controller="Categories" asp-action="Edit" asp-route-id="@category.Id" asp-route-name="@category.Name" class="btn btn-warning">Edit</a>
                            if (category.IsDeleted)
                            {
                                <a asp-area="Manager" asp-controller="Categories" asp-action="Restore" asp-route-id="@category.Id" asp-route-name="@category.Name" class="btn btn-success">Restore</a>
                            }
                            else
                            {

                                @Html.ActionLink("Delete", "Delete", "Categories", new { area = "Manager", id = category.Id, name = category.Name },
                                new
                                {
                                    @class = "btn btn-danger",
                                    onclick = $"return confirm('Are you sure you want to delete *{category.Name}*?');"
                                })
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pagination.TotalPages > 1)
    {
        string actionLink = string.IsNullOrWhiteSpace(Model.SearchToken)
            ? $"/categories?"
            : $"/categories?SearchToken={Model.SearchToken}&";

        Model.Pagination.ActionLink = actionLink;

        @Html.Partial("_Pagination", Model.Pagination)
    }
}