@model PagingElementsViewModel<ManufacturerAdvancedServiceModel>
@{
    string isDeletedWhenSearching = "false";
    string type = "Active";

    if (Model.IsDeleted)
    {
        isDeletedWhenSearching = "true";
        type = "Deleted";
    }

    ViewData["Title"] = $"All {type} Manufacturers";
}

<h2>@ViewData["Title"]</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
{
    <div>
        <a asp-area="Manager" asp-controller="Manufacturers" asp-action="Create" class="btn btn-success">Create Manufacturer</a>

        <br />
        <br />

        @if (Model.IsDeleted)
        {
            <form>
                <input type="hidden" name="isDeleted" value="false" />
                <input class="btn btn-default" type="submit" value="Active Manufacturers" />
            </form>
        }
        else
        {
            <form>
                <input type="hidden" name="isDeleted" value="true" />
                <input class="btn btn-default" type="submit" value="Deleted Manufacturers" />
            </form>
        }
    </div>
}

@await Html.PartialAsync("_SearchForm", new SearchViewModel { SearchToken = Model.SearchToken, IsDeleted = isDeletedWhenSearching })

<br />

@if (!Model.Elements.Any())
{
    <h2>No Manufacturers Found.</h2>
}
else
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Supplements</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var manufacturer in Model.Elements)
            {
                <tr class="text-center">
                    <td>@manufacturer.Name</td>
                    <td>@manufacturer.Supplements</td>
                    <td>
                        @if (Model.IsDeleted)
                        {
                            <a asp-area="Manager" asp-controller="Manufacturers" asp-action="Restore" asp-route-id="@manufacturer.Id" class="btn btn-success">Restore</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Manufacturers" asp-action="Details" asp-route-id="@manufacturer.Id" asp-route-name="@manufacturer.Name" class="btn btn-primary">Details</a>
                            <a asp-area="Manager" asp-controller="Manufacturers" asp-action="Edit" asp-route-id="@manufacturer.Id" class="btn btn-warning">Edit</a>
                            @Html.ActionLink("Delete", "Delete", "Manufacturers", new { area = "Manager", id = manufacturer.Id },
                                                                                                                 new
                                                                                                                 {
                                                                                                                     @class = "btn btn-danger",
                                                                                                                     onclick = $"return confirm('Are you sure you want to delete this manufacturer?');"
                                                                                                                 })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pagination.TotalPages > 1)
    {
        string actionLink = string.IsNullOrWhiteSpace(Model.SearchToken)
            ? $"/manager/manufacturers?IsDeleted={Model.IsDeleted}&"
            : $"/manager/manufacturers?SearchToken={Model.SearchToken}&IsDeleted={Model.IsDeleted}&";

        Model.Pagination.ActionLink = actionLink;

        @Html.Partial("_Pagination", Model.Pagination)
    }
}