@model PagingElementsViewModel<SubcategoryAdvancedServiceModel>
@{
    string isDeletedWhenSearching = "false";
    string type = "Active";

    if (Model.IsDeleted)
    {
        isDeletedWhenSearching = "true";
        type = "Deleted";
    }

    ViewData["Title"] = $"All {type} Subcategories";
}

<h2>@ViewData["Title"]</h2>

@if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
{
    <div>
        <a asp-area="Manager" asp-controller="Subcategories" asp-action="Create" class="btn btn-success">Create Subcategory</a>

        <br />
        <br />

        @if (Model.IsDeleted)
        {
            <form>
                <input type="hidden" name="isDeleted" value="false" />
                <input class="btn btn-default" type="submit" value="Active Subcategories" />
            </form>
        }
        else
        {
            <form>
                <input type="hidden" name="isDeleted" value="true" />
                <input class="btn btn-default" type="submit" value="Deleted Subcategories" />
            </form>
        }
    </div>
}

@await Html.PartialAsync("_SearchForm", new SearchViewModel { SearchToken = Model.SearchToken, IsDeleted = isDeletedWhenSearching })

<br />

@if (!Model.Elements.Any())
{
    <h2>No Subcategories Found.</h2>
}
else
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center">Supplements</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subcategory in Model.Elements)
            {
                <tr class="text-center">
                    <td>@subcategory.Name</td>
                    <td>@subcategory.Supplements</td>
                    <td>
                        @if (Model.IsDeleted)
                        {
                            <a asp-area="Manager" asp-controller="Subcategories" asp-action="Restore" asp-route-id="@subcategory.Id" class="btn btn-success">Restore</a>
                        }
                        else
                        {
                            <a asp-area="" asp-controller="Subcategories" asp-action="Details" asp-route-id="@subcategory.Id" asp-route-name="@subcategory.Name" class="btn btn-primary">Details</a>
                            <a asp-area="Manager" asp-controller="Subcategories" asp-action="Edit" asp-route-id="@subcategory.Id" class="btn btn-warning">Edit</a>
                            @Html.ActionLink("Delete", "Delete", "Subcategories", new { area = "Manager", id = subcategory.Id },
                                                                                            new
                                                                                            {
                                                                                                @class = "btn btn-danger",
                                                                                                onclick = $"return confirm('Are you sure you want to delete this subcategory?');"
                                                                                            })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pagination.TotalPages > 1)
    {
        string actionLink = string.IsNullOrWhiteSpace(Model.SearchToken)
        ? $"/manager/subcategories?IsDeleted={Model.IsDeleted}&"
        : $"/manager/subcategories?SearchToken={Model.SearchToken}&IsDeleted={Model.IsDeleted}&";

        Model.Pagination.ActionLink = actionLink;

        @Html.Partial("_Pagination", Model.Pagination)
    }
}