@model PagingElementsViewModel<ModeratorUserBasicServiceModel>

@{
    ViewData["Title"] = "All Users";
}

<h2>@ViewData["Title"]</h2>

<br />

<div class="row">
    <div class="col-md-4">
        <form>
            <label asp-for="SearchToken"></label>
            <div class="input-group">
                <input class="form-control" asp-for="@Model.SearchToken" />
                <span class="input-group-btn">
                    <input class="btn btn-primary" type="submit" value="Search" />
                </span>
            </div>
        </form>
    </div>
</div>
<br />

@if (!Model.Elements.Any())
{
    <h2>No Users Found.</h2>
}
else
{
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th class="text-center">Username</th>
                <th class="text-center">Reviews</th>
                <th class="text-center">Comments</th>
                <th class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Elements)
            {
                <tr class="text-center">
                    <td>@user.Username</td>
                    <td>@user.Reviews</td>
                    <td>@user.Comments</td>
                    <td>
                        @if (user.IsRestricted)
                        {
                            <a asp-area="Moderator" asp-controller="Users" asp-action="Permission" asp-route-username="@user.Username" class="btn btn-success">Allow</a>
                        }
                        else
                        {
                            <a asp-area="Moderator" asp-controller="Users" asp-action="Permission" asp-route-username="@user.Username" class="btn btn-danger">Restrict</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    if (Model.Pagination.TotalPages > 1)
    {
        string actionLink = string.IsNullOrWhiteSpace(Model.SearchToken)
            ? $"/moderator/users?"
            : $"/moderator/users?SearchToken={Model.SearchToken}&";

        Model.Pagination.ActionLink = actionLink;

        @Html.Partial("_Pagination", Model.Pagination)
    }
}