@model PagingElementsViewModel<ReviewAdvancedServiceModel>

@{
    ViewData["Title"] = "All Reviews";
}

@if (!Model.Elements.Any())
{
    <h2 class="text-center">No Reviews Found.</h2>
}
else
{
    <br />
    <h2>@ViewData["Title"]</h2>
    <br />

    <div class="row text-center">
        <table class="table table-bordered table-responsive">
            <thead>
                <tr>
                    <th class="text-center">Picture</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Rating</th>
                    <th class="text-center">Author</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var review in Model.Elements)
                {
                    <tr class="text-center">
                        @if (!review.IsDeleted)
                        {
                            <td>
                                <a asp-area="Moderator" asp-controller="Supplements" asp-action="Details" asp-route-id="@review.SupplementId" asp-route-name="@review.SupplementName" asp-route-returnUrl="@Context.Request.Path">
                                    @if (review.Picture == string.Empty)
                                    {
                                        <img id="supplements-index-image" src="~/images/image-not-found.jpg" alt="supplement-picture">
                                    }
                                    else
                                    {
                                        <img id="supplements-index-image" src="@review.Picture" alt="supplement-picture">
                                    }
                                </a>
                            </td>
                            <td>@review.SupplementName</td>
                            <td>@review.Rating</td>
                            <td>@review.Author</td>
                            <td>
                                <a asp-area="" asp-controller="Reviews" asp-action="Details" asp-route-id="@review.Id" class="btn btn-primary btn-sm">Details</a>
                                <a asp-area="" asp-controller="Reviews" asp-action="Edit" asp-route-id="@review.Id" class="btn btn-warning btn-sm">Edit</a>
                                @Html.ActionLink("Delete", "Delete", "Reviews", new { area = string.Empty, id = review.Id },
                                                                                          new
                                                                                          {
                                                                                              @class = "btn btn-danger btn-sm",
                                                                                              onclick = $"return confirm('Are you sure you want to delete this reviews?');"
                                                                                          })
                            </td>
                        }
                        else if (review.IsDeleted)
                        {
                            <td>
                                @if (review.Picture == string.Empty)
                                {
                                    <img id="supplements-index-image" src="~/images/image-not-found.jpg" alt="supplement-picture">
                                }
                                else
                                {
                                    <img id="supplements-index-image" src="@review.Picture" alt="supplement-picture">
                                }
                            </td>
                            <td>@review.SupplementName</td>
                            <td>@review.Rating</td>
                            <td>@review.Author</td>
                            <td>
                                <a asp-area="Moderator" asp-controller="Reviews" asp-action="Restore" asp-route-id="@review.Id" asp-route-supplementId="@review.SupplementId" class="btn btn-success btn-sm">Restore</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="text-center">
    @if (Model.Pagination.TotalPages > 1)
    {
        string actionLink = $"/moderator/reviews?";

        Model.Pagination.ActionLink = actionLink;

        @Html.Partial("_Pagination", Model.Pagination)
    }
</div>