@model SubcategoryDetailsServiceModel

@{
    ViewData["Title"] = $"Subcategory {Model.Name}";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div>

            <h2>@ViewData["Title"]</h2>
            <h3>Supplements: @Model.Supplements.Count()</h3>
            <br />
        </div>
        <br />

        @foreach (var supplement in Model.Supplements)
        {
            <div class="card col-md-4 text-center">
                <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name">
                    <img class="card-img-top" id="subcategory-supplement-image" src="@supplement.Picture" alt="supplement-picture">
                </a>
                <br />
                <br />
                <div class="card-block">
                    <h4 class="card-title">@supplement.Name</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Manufacturer:</strong> @supplement.ManufacturerName</li>
                    <li class="list-group-item"><strong>Quantity:</strong> @supplement.Quantity</li>
                    <li class="list-group-item"><strong>Price:</strong> @supplement.Price &euro;</li>
                </ul>
                <div class="card-block">
                    <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-primary">Details</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
                    {
                        <a asp-area="Manager" asp-controller="Supplements" asp-action="Edit" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-warning">Edit</a>
                        if (supplement.IsDeleted)
                        {
                            <a asp-area="Manager" asp-controller="Supplements" asp-action="Delete" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-success">Restore</a>

                        }
                        else
                        {
                            @Html.ActionLink("Delete", "Delete", "Supplements", new { area = "Manager", id = supplement.Id, name = supplement.Name },
                                     new
                                     {
                                         @class = "btn btn-danger",
                                         onclick = $"return confirm('Are you sure you want to delete *{supplement.Name}*?');"
                                     })
                        }
                    }
                </div>
            </div>
        }
    </div>
</div>