@model SubcategoryDetailsServiceModel

@{
    ViewData["Title"] = $"Subcategory {Model.Name}";
}

<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <div>

            <h2>@ViewData["Title"]</h2>
            <h3>Supplements: @Model.Supplements.Count()</h3>
            <br />
        </div>
        <br />

        @foreach (var supplement in Model.Supplements)
        {
            <div class="card col-md-4 text-center">
                @if (User.IsInRole(WebConstants.ModeratorRole))
                {
                    <a asp-area="Moderator" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        <img class="card-img-top img-rounded" id="home-supplement-image" src="@supplement.Picture" alt="supplement-picture">
                    </a>
                }
                else
                {
                    <a asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                        <img class="card-img-top img-rounded" id="home-supplement-image" src="@supplement.Picture" alt="supplement-picture">
                    </a>
                }
                <br />
                <br />
                <div class="card-block">
                    <h4 class="card-title">@supplement.Name</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Manufacturer:</strong> @supplement.ManufacturerName</li>
                    <li class="list-group-item">
                        <strong>Quantity:</strong>
                        @if (supplement.Quantity > 0)
                        {
                            @supplement.Quantity
                        }
                        else
                        {
                            <span class="text-danger">Out of Stock</span>
                        }
                    </li>
                    <li class="list-group-item"><strong>Price:</strong> @supplement.Price &euro;</li>
                    <li class="list-group-item">
                        @if (User.IsInRole(WebConstants.ModeratorRole))
                        {
                            <a class="btn btn-primary btn-sm" asp-area="Moderator" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" asp-route-returnUrl="@ViewData["ReturnUrl"]">Details</a>
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm" asp-area="" asp-controller="Supplements" asp-action="Details" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" asp-route-returnUrl="@ViewData["ReturnUrl"]">Details</a>
                        }
                        @if (supplement.Quantity > 0)
                        {
                            <a class="btn btn-success btn-sm" asp-area="" asp-controller="Orders" asp-action="Add" asp-route-id="@supplement.Id">Buy</a>
                        }
                        @if (User.Identity.IsAuthenticated && User.IsInRole(WebConstants.ManagerRole))
                        {
                            <a asp-area="Manager" asp-controller="Supplements" asp-action="Edit" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-warning btn-sm">Edit</a>
                            if (supplement.IsDeleted)
                            {
                                <a asp-area="Manager" asp-controller="Supplements" asp-action="Delete" asp-route-id="@supplement.Id" asp-route-name="@supplement.Name" class="btn btn-success btn-sm">Restore</a>

                            }
                            else
                            {
                                @Html.ActionLink("Delete", "Delete", "Supplements", new { area = "Manager", id = supplement.Id, name = supplement.Name },
                                                                 new
                                                                 {
                                                                     @class = "btn btn-danger btn-sm",
                                                                     onclick = $"return confirm('Are you sure you want to delete *{supplement.Name}*?');"
                                                                 })
                            }
                        }
                    </li>
                </ul>
            </div>
        }
    </div>
</div>